*{
    margin: 0;
}

.container-header {
    display: flex;
    padding: 8px;
    border-bottom: solid 1px rgb(40, 39, 40);
}


.container-user{
    margin-top: 20px;
}

#img-menu {
    margin-top: 20px;
    margin-left: 20px
}
#img-profile{
   margin-left: 25px; 
}

.title{
    margin-top: 30px;
    text-align: center;
}

h3 {
    font-weight: 100;
}

section{
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.container-toDo{
 margin: 80px;
}

.card{
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px ;
    border-radius: 8px;
    margin-top: 20px;
    background-color: #F0F2FF;
    margin-left: 20px;
    height:200px;
    margin-bottom: 15px;;
}

.main {
    width: 95%;
}


.linha-Vertical {
  width: 6px;
  height: 30px;    
  background-color: rgb(0, 0, 0);
  margin: 0 20px;
}

.yellow {
    background-color: #FFAB4C;
}

.green {
    background-color: #3BE280;
}

.toDoTitle {
    display: flex;
}
.linhaHorizontal {
    width: 55%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
}


.status {
    border: solid 1px;
    padding: 7px;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
}

.button {
    display: flex;
}

.btn {
    position: absolute;
    bottom: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }

.trash-edit button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.pendente {
    left:10px;
    margin-right: 20px;
    background-color: #FFAB4C;
}

.concluido {
    right:10px;
    background-color: #3BE280;
}

.container-header-card {
    display: flex;
}

.trash-edit {
    display: flex;
    gap: 10px; /* espaço entre os ícones */
    align-items: center;
}


.adicionar{
 position: static;
 margin-left: 100px;
 background-color: #83cefc ;
}

.overlayRenomear,
.overlayNovaTarefa {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
}

.renomear,
.novaTarefa{
    max-width: 50%;
    max-height: 50%;
}
    

.salvar {
    margin-left: 100px;
}

.input{
    display: flex;
    flex-direction: column;
    
}

input {
    margin-bottom: 20px;
}

.card-Header{
    display:flex;
}

.img-container {
    width: 30px;
    height: 30px;
}

.img-Renomear {
  position: absolute;
  top: 10px;     
  right: 10px;   
  width: 24px;  
  height: 24px;
}

button {
    border: none;
    background-color: #F0F2FF;
}

#modelo {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.container-header-card {
    display: flex;
    justify-content: space-between; /* separa o título e os ícones */
    align-items: center; /* alinha verticalmente */
}
